div#main{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,50%);
}
#table{
	border:1px solid #000;
	margin: 0 auto;
	cursor: pointer;
	user-select: none;
}
#table td{
	border:1px solid #000;
}
#newBut{
	width: 200px;
	height: 25px;
	position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-160%);
}
#field{
	position: absolute;
	left:5%;
	top:5%;

}
.red{
	background-color:red;
}